<!--
  Generated template for the CarInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>


    <ion-title>{{carName}}</ion-title>

    <ion-buttons end>
        <button ion-button clear small icon-start (click)="doAlert()" >
          <ion-icon style="font-size:30px" color="primary" name="checkmark"></ion-icon>
          <span class="right-header-button" color="primary">เสร็จ</span>
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card class="div-profile-info">
        <div style="height:60px">
        <ion-card-content>
          <ion-card-title>
            {{carName}}
          </ion-card-title>
            <p>
              <span class="profile-tel">{{carName}}</span>
            </p>
          </ion-card-content>
        </div>
        <ion-row no-padding>
          <ion-col text-right>
            <button ion-button clear small icon-start style="color:grey;font-family: 'Kanit', sans-serif;">
              <ion-icon name='brush'></ion-icon><span style="color:grey;">sdfgdfg</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
</ion-content>
