<ion-header>
  <style>
    #circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: rgb(255, 187, 28);
    }
  </style>
  <ion-navbar>
    <ion-title>
      <font class="font1">ซ่อมบำรุง</font>
    </ion-title>
  </ion-navbar>
</ion-header>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<style>
  .font1 {
    font-family: 'Kanit', sans-serif;
  }

  .button {
    color: gray;
    text-align: middle;
    font-family: 'Kanit', sans-serif;
  }

  .vertical-align-content {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

  .Absolute-Center {
    width: 100%;
    height: 100%;
    /* //overflow: auto; */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
</style>

<ion-content padding text-center style="height: 100%;">

  <div class="box boxOut">
    <button ion-button round color="light" [navPush]="fix1Page">
      <font class="button">เครื่องยนต์รถ</font>
    </button>
    <div id="img_container">
      <img class="img-car" style="width: 100%; height: 30%;" src="img/651.png" />
    </div>
    <button ion-button round color="light" [navPush]="fix2Page">
      <font class="button">ช่วงล่าง</font>
    </button>
    <button ion-button round color="light" [navPush]="fix3Page">
      <font class="button">ล้อ</font>
    </button>
  </div>



</ion-content>