page-fix {
    ion-content {
        background: rgb(255, 187, 28) !important;

        align-self: center;
        
    }
    ion-navbar {
        background: rgb(255, 187, 28) !important;
    }
 
   .box  {       
            background: transparent !important;
            height: 550px;
            width: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            // // display: block;
            // // margin: auto;
            // display: flex;
            // justify-content: center;
            // align-items: center;
        
      }
   
      ion-img _ngcontext-c1.img-loaded {
          background: transparent !important ;
          height: 20px;
      }
      ion-img{
        background: transparent !important;

      }

      

}
