<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="ios-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="ios-construct"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ios-navigate"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="ios-contact"></ion-tab>
</ion-tabs>
