<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding scroll="false">
  <div class="div-profile-pic">
    <img class="profile-pic" src="img/profile.png"/>

  <ion-card class="div-profile-info">
    <div style="height:60px">
    <ion-card-content>
      <ion-card-title>
        <span class="profile-name">{{ownerName}}</span>
      </ion-card-title>
        <p>
          <span class="profile-tel">โทร: {{ownerNum}}</span>
        </p>
      </ion-card-content>
    </div>
    <ion-row no-padding>
      <ion-col text-right>
        <button ion-button clear small icon-start style="color:grey;font-family: 'Kanit', sans-serif;">
          <ion-icon name='brush'></ion-icon><span style="color:grey;">แก้ไขโปรไฟล์</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  </div>

  <div class="div-car-list">
    <ion-slides loop="false" pager>
      <ion-slide *ngFor="let car of cars">
        <ion-card>
          <div class="div-car-color"><img id="car-color" src="img/car-color/{{car.colorName}}"/></div>
          <ion-card-content>
            <ion-card-title>
              {{car.name}}
            </ion-card-title>
            <p>
              {{car.colorName}}
              {{car.manufacturer}}
            </p>
         </ion-card-content>
        
          <ion-row no-padding>
            <ion-col text-right>
              <button ion-button clear small
              style="color:grey;font-family: 'Kanit', sans-serif;"
              icon-start (click)="pushParams(car)">
                <ion-icon name='ios-eye'></ion-icon>
                ดูรายละเอียด
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <button class="add-button" color="light" ion-button block outline [navPush]="addCarPage">
    <div style="width:0px;"><ion-icon name="ios-add"></ion-icon></div>
    <span class="add-car-text">เพิ่มรถของคุณ</span>
  </button>
</ion-content>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<style>
.div-car-list {
  font-family: 'Kanit', sans-serif;
}
</style>
