page-profile {

    ion-content {
        background: #ffbb1c !important;
    }

    .div-carcolor {
        width: 100%;
        height: 20px;
    }

    #car-color {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -30px;
    }

    .div-profile-pic {
        margin-left: auto;
        margin-right: auto;
    }
  
    .profile-pic {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        border: 2px solid whitesmoke;
        border-radius: 50%;
        box-shadow: 0 0 10px gray;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
      
    .div-profile-info {
        background: whitesmoke;
        margin-top: -20px;
        padding-top: 10px;
        padding-left: 5px;
    }

    .profile-name {
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
    }

    .profile-tel {
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
    }

    .kanit-font {
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
    }
  
    .div-add-button {
        width: 1px;
        height: 1px;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    .add-button {
        display: block;
        width: 250px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: whitesmoke;
    }
  
    .add-car-text {
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-pagination-bullet-active {
        background: #37DFA6;
        opacity: 1;
        margin-top: 10px;
    }

    .scroll-content {
        overflow: hidden !important;
    }

}
