<!--
  Generated template for the AddCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>เพิ่มรถของคุณ</ion-title>

    <ion-buttons end>
      <button ion-button clear small icon-start (click)="doAlert()" >
        <ion-icon style="font-size:30px" color="primary" name="checkmark"></ion-icon>
        <span class="right-header-button" color="primary">เสร็จ</span>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-list-header>ข้อมูลรถ</ion-list-header>

    <ion-item>
      <ion-input type="text" placeholder="ชื่อรถของคุณ"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>บริษัทผู้ผลิต</ion-label>
      <ion-select [(ngModel)]="manufacturer">
        <ion-option value="toyota">Toyota</ion-option>
        <ion-option value="honda">Honda</ion-option>
        <ion-option value="mazda">Mazda</ion-option>
        <ion-option value="nissan">Nissan</ion-option>
        <ion-option value="ford">Ford</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>สีรถ</ion-label>
      <ion-select [(ngModel)]="color">
        <ion-option value="black">ดำ</ion-option>
        <ion-option value="white">ขาว</ion-option>
        <ion-option value="blonde">บลอน</ion-option>
        <ion-option value="navy">กรมท่า</ion-option>
        <ion-option value="gold">ทอง</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
