page-add-car {
    ion-list-header {
        font-size: 40px;

    }

    .right-header-button {
        font-size: 16px;
        color:#488aff;
        background: transparent;
        font: bold 15px;
    }

}
