<!--
  Generated template for the Fix21Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <style>
        #circle {
          width: 50px;
          height: 50px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          background: rgb(255, 187, 28);
        }
      </style>
  <ion-navbar>
    <ion-title><font class="font1">หม้อน้ำร้อน (โอเวอร์ฮีท)</font></ion-title>
  </ion-navbar>

</ion-header>
<style>
    .font1 {
      font-family: 'Kanit', sans-serif;
    }
    </style>

<ion-content padding>

</ion-content>
