<ion-header>
  <!-- <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar> -->

</ion-header>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<style>
  .font1 {
    font-family: 'Kanit', sans-serif;
  }

  .search {
    color: gray;
    /* margin-right: 30px; */
  }

  .vertical-align-content {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

  .Absolute-Center {
    width: 100%;
    height: 100%;
    /* //overflow: auto; */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
</style>



<ion-content padding text-center>


  <div id="img_container">

    <!-- <img class="img-car" style="width: 50%; height: 50%;" src="img/logo2.png" /> -->
    <h2 style="color: rgb(255, 255, 255)" class="font1">
      <font size="40">นายช่าง</font>
    </h2>
    <button ion-button round color="light" [navPush]="tagPage">
      <font class="search">ค้นหาร้านซ่อมรถใกล้ตัว</font>
    </button>


    <p>
      <font size="5" class="font1" style="color: white">รถของคุณมีปัญหาอะไร?</font>
    </p>
  </div>