page-home {
    ion-content {
        background: #ffbb1c !important;
        // text-align: center;
        
    }
    button {
        width: 70%;
        height: 100%;
        color: #FFFFFF;
    }
    #img_container{
        height: 600px;
        width: 500px;
        display: table-cell;
        vertical-align: middle;
      }
      .scroll-content {
        overflow: hidden !important;
    }

}
