<ion-header>
  <ion-navbar>
    <ion-title>
       <font class="font1">ร้านใกล้เคียง</font> 
    </ion-title>
  </ion-navbar>

</ion-header>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">s
<style>
  .font1 {
    font-family: 'Kanit', sans-serif;
  }
  .button {
    color:gray;
    text-align: left;

  }
  </style>

<ion-content padding>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30610.320563659498!2d102.80796435932619!3d16.460843474473155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228af57ea7de97%3A0xdd7b17e1de7568cb!2sSrinagarind+Hospital!5e0!3m2!1sen!2sth!4v1532071989961" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</ion-content>
