<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>shop</ion-title>
  </ion-navbar>

  <style>
      .font1 {
        font-family: 'Kanit', sans-serif;
      }
      </style>

</ion-header>


<ion-content padding>
  <ion-row>
      <button class="font1" ion-button full color="light">อู่ชัชชวาลย์</button>
  </ion-row>
  <ion-row>
      <button class="font1" ion-button full color="light">ช่างยนต์เฉลิมชัย</button>
  </ion-row>
  <ion-row>
      <button class="font1" ion-button full color="light">ต๊ะวันรถแต่ง</button>
  </ion-row>
  <ion-row>
      <button class="font1" ion-button full color="light">ฟอร์ดเครื่องยนต์</button>
  </ion-row>
  <ion-row>
      <button class="font1" ion-button full color="light">ฟิล์มรถสมชาย</button>
  </ion-row>
</ion-content>