<!--
  Generated template for the Fix3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <style>
        #circle {
          width: 50px;
          height: 50px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          background: rgb(255, 187, 28);
        }
      </style>
  <ion-navbar>
    <ion-title><font class="font1">ล้อ</font></ion-title>
  </ion-navbar>

</ion-header>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

<style>
.font1 {
  font-family: 'Kanit', sans-serif;
}
.button {
  color:gray;
  text-align: middle;
  font-family: 'Kanit', sans-serif;
}
</style>

<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          {{ item }}
        </button>  
      </ion-list>
</ion-content>
