<ion-tabs>
    <ion-tab [root]="fix1PageRoot" tabTitle="Fix1 page" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="fix2PageRoot" tabTitle="Fix2 page" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="fix3PageRoot" tabTitle="Fix3 page" tabIcon="information-circle"></ion-tab>
</ion-tabs>
