<!--
  Generated template for the TagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>
  <style>
    .button1{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  </style>

</ion-header>

<style>
    .font {
      font-family: 'Kanit', sans-serif;
    }
    .button1 {
      
      text-align: middle;
      font-family: 'Kanit', sans-serif;
    }
    </style>


<ion-content padding>
    <ion-grid class="font">
        <ion-row item-width="100%">
            <h1>ซ่อม</h1>
        </ion-row>
        <ion-row item-width="100%">
            <ion-list>

                <ion-item>
                  <ion-label>ช่วงล่าง</ion-label>
                  <ion-checkbox [(ngModel)]="lowerbody"></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>ตัวรถ</ion-label>
                  <ion-checkbox [(ngModel)]="body" ></ion-checkbox>
                </ion-item>
              
              </ion-list>
        </ion-row>
        <ion-row>
            <h1>บำรุง</h1>
        </ion-row>
        <ion-row>
            <ion-list>

                <ion-item>
                  <ion-label>เปลี่ยนน้ำมันเครื่อง</ion-label>
                  <ion-checkbox [(ngModel)]="oil"></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>แบตเตอร์รี่</ion-label>
                  <ion-checkbox [(ngModel)]="batery" ></ion-checkbox>
                </ion-item>
              
              </ion-list>
        </ion-row>
        
        <ion-row>
            <h1>ตกแต่ง</h1>
        </ion-row>
        <ion-row>
            <ion-list>

                <ion-item>
                  <ion-label>เปลี่ยนยาง/แม็กซ์</ion-label>
                  <ion-checkbox [(ngModel)]="tire"></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>เปลี่ยนล้อ</ion-label>
                  <ion-checkbox [(ngModel)]="wheel" ></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>แต่งรถ</ion-label>
                    <ion-checkbox [(ngModel)]="deco" ></ion-checkbox>
                  </ion-item>

                  <ion-item>
                      <ion-label>ฟิล์มรถยนต์</ion-label>
                      <ion-checkbox [(ngModel)]="film" ></ion-checkbox>
                    </ion-item>

                    <ion-item>
                        <ion-label>โหลดรถ/ยกสูง</ion-label>
                        <ion-checkbox [(ngModel)]="load" ></ion-checkbox>
                      </ion-item>
              
              </ion-list>
        </ion-row>
      </ion-grid>
      
      <button class="button1" ion-button round [navPush]="shopPage">ค้นหา</button>
      
</ion-content>
